#container{
    margin-left: 34%;

    /* border: 1px solid red; */
   width: 30%;
   /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, */
}
#btn{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color:
    #a9c4e6 ;
    border: none;
    cursor: pointer;
}
#btn:hover{
    background-color:
    #3f51b5 ;
}
.p>a,.p1>a{
    text-decoration: none;
    color: blue;
}
.p1,.p2{
    text-align: center;
}
.icon{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.logo{
    /* border: 1px solid red; */
   text-align: center;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo>img{
    width: 120px;
}
/* .................................................................. */
.create_ac{
    display: flex;
    gap: 5px;
    justify-content: center;
}
#button{
    color: blue;
}